html {

}

.welcome-heading {
	font-size: 5em;
	margin: 1.33em auto .5em 0;
	text-align: left;
}

.tagline {
	margin-bottom: 1.25em;
	text-align: left;
}

.welcome-body {
	text-align: left;
}

.login-signup {
	background-color: firebrick;
	vertical-align:left;
	border-radius: 35%;
	display: inline-block;
	padding: 1em;
}

.sgt_hathaway, .login-signup {
	height: auto;
	width: 25%;
	float: right;
	margin-right: 500px;
	opacity: 0.6;
}

.repeat_password {
	margin: 2px;
}